<template>
  <div>
    <q-table
      title="Product Table"
      :rows="products"
      :columns="tableColumns"
      row-key="id"
      :loading="Productloading"
      ::filter-method="filterMethod"
    />
  </div>
  <div>
    <q-table
      title="Order Table"
      :rows="orders"
      :columns="orderTableColumns"
      row-key="id"
      :loading="Orderloading"
      ::filter-method="filterMethod"
    />
  </div>
</template>

<script setup>
import { useProduct } from "src/stores/product-store";
import { useCartStore } from "src/stores/order-store";
import { ref, onMounted } from "vue";

const filter = ref("");
const Orderloading = ref(false);
const Productloading = ref(false);

const tableColumns = ref([
  {
    name: "productId",
    required: true,
    label: "Product ID",
    align: "left",
    field: (row) => row.id,
    sortable: true,
  },
  {
    name: "name",
    required: true,
    label: "Name",
    align: "left",
    field: (row) => row.name,
    sortable: true,
  },
  {
    name: "description",
    required: true,
    label: "Description",
    align: "left",
    field: (row) => row.description,
    sortable: true,
  },
  {
    name: "imageUrl",
    required: true,
    label: "Image URL",
    align: "left",
    field: (row) => row.imageUrl,
    sortable: true,
  },
  {
    name: "price",
    required: true,
    label: "Price",
    align: "left",
    field: (row) => row.price,
    sortable: true,
  },
]);

const orderTableColumns = ref([
  {
    name: "orderId",
    required: true,
    label: "Order ID",
    align: "left",
    field: (row) => row.id,
    sortable: true,
  },
  {
    name: "customerName",
    required: true,
    label: "Customer Name",
    align: "left",
    field: (row) => row.customerName,
    sortable: true,
  },
  {
    name: "customerEmail",
    required: true,
    label: "Customer Email",
    align: "left",
    field: (row) => row.customerEmail,
    sortable: true,
  },
  {
    name: "products",
    required: true,
    label: "Products Ordered",
    align: "left",
    field: (row) => {
      const orderedProducts = row.products;
      let result = "";
      for (let product of orderedProducts) {
        result += `${product.name}, `;
      }
      return result;
    },
    sortable: true,
  },
  {
    name: "price",
    required: true,
    label: "Price",
    align: "left",
    field: (row) => {
      const orderedProducts = row.products;
      let sum = 0;
      for (let product of orderedProducts) {
        let nprice = parseInt(product.price);
        sum += nprice;
      }
      return sum;
    },
    sortable: true,
  },
]);

const filterMethod = (row, filter) => {
  return (
    row.name.toLowerCase().indexOf(filter.toLowerCase()) > -1 ||
    row.description.toLowerCase().indexOf(filter.toLowerCase()) > -1
  );
};

const product = useProduct();
const order = useCartStore();

const products = ref([]);
const orders = ref([]);

onMounted(async () => {
  Productloading.value = true;
  Orderloading.value = true;
  await product.fetchProducts();
  products.value = product.products;
  await order.fetchOrders();
  orders.value = order.orders;
  Productloading.value = false;
  Orderloading.value = false;
});
</script>
