<script setup>
import { useProduct } from "src/stores/product-store";
import { useCartStore } from "src/stores/order-store";
import { ref } from "vue";

const loading = ref(false);

const cart = useCartStore();
const product = useProduct();

const products = ref([]);

const addToCart = (product) => {
  const existingProduct = cart.items.find((item) => item.id === product.id);

  if (existingProduct) {
    existingProduct.quantity += 1;
  } else {
    cart.addItem({
      id: product.id,
      name: product.name,
      price: product.price,
      quantity: 1,
    });
  }
};

async function fetchProducts() {
  loading.value = true;
  await product.fetchProducts();
  products.value = product.products;
  loading.value = false;
}

fetchProducts();
</script>

<template>
  <div class="flex justify-center items-center">
    <div class="loader">
      <p v-show="loading">Loading....</p>
    </div>

    <div class="row container">
      <div
        class="col justify-evenly col-sm-12 col-md-6 col-lg-4 col-xs-12"
        v-for="product in products"
        :key="product.id"
      >
        <q-card class="product-card">
          <q-img :src="product.imageUrl" class="product-cart-img">
            <div class="absolute-bottom">
              <div class="text-h6">{{ product.name }}</div>
              <div class="text-subtitle2">
                <p>{{ product.description }}</p>
                <p>${{ product.price }}</p>
              </div>
            </div>
          </q-img>
          <q-card-actions>
            <q-btn flat color="primary" @click="addToCart(product)"
              >Add to cart</q-btn
            >
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;

  .product-card {
    width: 25em;
    height: 20em;
    margin-bottom: 20px;
    .product-cart-img {
      width: 25em;
      height: 15em;
    }
  }
}
</style>
