<template>
  <div class="nav">
    <q-btn
      class="cart"
      :color="currentPage == 'Add Products' ? 'blue' : 'green'"
      @click="setAdd"
      >Add Products</q-btn
    >
    <q-btn
      class="cart"
      :color="currentPage == 'Edit Products' ? 'blue' : 'green'"
      @click="setEdit"
      >Edit Products</q-btn
    >
    <q-btn
      @click="setDelete"
      class="cart"
      :color="currentPage == 'Delete Products' ? 'blue' : 'green'"
      >Delete Products</q-btn
    >
  </div>
  <div class="column" v-show="currentPage == 'Add Products'">
    <div class="row">
      <h5 class="text-h5 q-my-md header">Add Products</h5>
    </div>
    <div class="row">
      <q-card square bordered class="q-pa-lg shadow-1 login-card">
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input
              square
              filled
              clearable
              v-model="name"
              :rules="[
                (val) => (val && val.length > 0) || 'Field is mandatory',
              ]"
              type="text"
              label="name"
            />
            <q-input
              square
              filled
              clearable
              v-model="description"
              type="text"
              label="description"
              :rules="[
                (val) => (val && val.length > 0) || 'Field is mandatory',
              ]"
            />
            <q-input
              square
              filled
              clearable
              v-model="imageUrl"
              type="text"
              label="imageUrl"
              :rules="[
                (val) => (val && val.length > 0) || 'Field is mandatory',
              ]"
            />
            <q-input
              square
              filled
              clearable
              v-model="price"
              type="price"
              label="price"
              :rules="[
                (val) => (val && val.length > 0) || 'Field is mandatory',
              ]"
            />
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="light-green-7"
            size="lg"
            class="full-width"
            :label="isLoading ? 'Loading...' : 'Add Product'"
            :disable="isLoading"
            @click="addProduct"
          />
        </q-card-actions>
      </q-card>
    </div>
  </div>
  <div class="column" v-show="currentPage == 'Edit Products'">
    <div class="row">
      <h5 class="text-h5 q-my-md header">
        Edit Products (All fields optional)
      </h5>
    </div>
    <div class="row">
      <q-card square bordered class="q-pa-lg shadow-1 login-card">
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input
              square
              filled
              clearable
              v-model="editId"
              type="text"
              label="Id of Product"
              :rules="[
                (val) => (val && val.length > 0) || 'Field is mandatory',
              ]"
            />
            <q-input
              square
              filled
              clearable
              v-model="editname"
              type="text"
              label="name"
            />
            <q-input
              square
              filled
              clearable
              v-model="editdescription"
              type="text"
              label="description"
            />
            <q-input
              square
              filled
              clearable
              v-model="editimageUrl"
              type="text"
              label="imageUrl"
            />
            <q-input
              square
              filled
              clearable
              v-model="editprice"
              type="price"
              label="price"
            />
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="light-green-7"
            size="lg"
            class="full-width"
            :label="isLoading ? 'Loading...' : 'Edit Product'"
            :disable="isLoading"
            @click="editProduct"
          />
        </q-card-actions>
      </q-card>
    </div>
  </div>
  <div class="column" v-show="currentPage == 'Delete Products'">
    <div class="row">
      <h5 class="text-h5 q-my-md header">
        Delete Products (All fields compulsory)
      </h5>
    </div>
    <div class="row">
      <q-card square bordered class="q-pa-lg shadow-1 login-card">
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input
              square
              filled
              clearable
              v-model="deleteId"
              type="text"
              label="Id of Product"
              :rules="[
                (val) => (val && val.length > 0) || 'Field is mandatory',
              ]"
            />
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="light-green-7"
            size="lg"
            class="full-width"
            :label="isLoading ? 'Loading...' : 'Delete Product'"
            :disable="isLoading"
            @click="delelteProduct"
          />
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useProduct } from "src/stores/product-store";

const productStore = useProduct();
const isLoading = ref(false);
const editId = ref("");
const deleteId = ref("");
const name = ref("");
const description = ref("");
const imageUrl = ref("");
const price = ref("");
const editname = ref("");
const editdescription = ref("");
const editimageUrl = ref("");
const editprice = ref("");
const currentPage = ref("Add Products");

function setAdd() {
  currentPage.value = "Add Products";
}
function setEdit() {
  currentPage.value = "Edit Products";
}
function setDelete() {
  currentPage.value = "Delete Products";
}

async function addProduct() {
  isLoading.value = true;
  if (!name.value || !description.value || !imageUrl.value || !price.value) {
    alert("Please fill the form completely");
    isLoading.value = false;
    return false;
  }
  const success = await productStore.addProducts(
    name.value,
    description.value,
    imageUrl.value,
    price.value
  );
  if (success) {
    alert("Product added successfully");
    Id.value = "";
    name.value = "";
    description.value = "";
    imageUrl.value = "";
    price.value = "";
    isLoading.value = false;
  } else {
    alert("Could not add product");
    isLoading.value = false;
  }
}
async function editProduct() {
  isLoading.value = true;
  if (!editId.value) {
    alert("Please provide the product ID");
    isLoading.value = false;

    return false;
  }
  const success = await productStore.editProducts(
    editId.value,
    editname.value,
    editdescription.value,
    editimageUrl.value,
    editprice.value
  );
  if (success) {
    alert("Product edited successfully");
    editId.value = "";
    editname.value = "";
    editdescription.value = "";
    editimageUrl.value = "";
    editprice.value = "";
    isLoading.value = false;
  } else {
    alert("Could not edit product");
    isLoading.value = false;
  }
}
async function delelteProduct() {
  isLoading.value = true;
  if (!deleteId.value) {
    alert("Please provide the product ID");
    isLoading.value = false;
    return false;
  }
  const success = await productStore.deleteProducts(deleteId.value);
  if (success) {
    alert("Product deleted successfully");
    deleteId.value = "";
    isLoading.value = false;
  } else {
    alert("Could not deleted product");
    isLoading.value = false;
  }
}
</script>

<style lang="scss">
.cart {
  margin-right: 2em;
}
.nav {
  margin-left: 5em;
  margin-top: 2em;
}
.header {
  margin-left: 3em;
}
.login-card {
  margin-left: 5em;
  width: 40em;
  .link-to-register {
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
}
</style>
