<template>
  <div class="nav">
    <q-btn
      class="cart"
      :color="currentPage == 'Edit Orders' ? 'blue' : 'green'"
      @click="setEdit"
      >Edit Orders</q-btn
    >
    <q-btn
      @click="setDelete"
      class="cart"
      :color="currentPage == 'Delete Orders' ? 'blue' : 'green'"
      >Delete Orders</q-btn
    >
  </div>
  <div class="column" v-show="currentPage == 'Edit Orders'">
    <div class="row">
      <h5 class="text-h5 q-my-md header">Edit Orders</h5>
    </div>
    <div class="row">
      <q-card square bordered class="q-pa-lg shadow-1 login-card">
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input
              square
              filled
              clearable
              v-model="editId"
              type="text"
              label="Id of Order"
            />
            <q-input
              square
              filled
              clearable
              v-model="productIds"
              type="text"
              label="Product Ids (comma seperated) e.g 1,2"
            />
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="light-green-7"
            size="lg"
            class="full-width"
            :label="isLoading ? 'Loading...' : 'Edit Order'"
            :disable="isLoading"
            @click="editOrder"
          />
        </q-card-actions>
      </q-card>
    </div>
  </div>
  <div class="column" v-show="currentPage == 'Delete Orders'">
    <div class="row">
      <h5 class="text-h5 q-my-md header">Delete Orders</h5>
    </div>
    <div class="row">
      <q-card square bordered class="q-pa-lg shadow-1 login-card">
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input
              square
              filled
              clearable
              v-model="deleteId"
              type="text"
              label="Id of Order"
            />
          </q-form>
        </q-card-section>
        <q-card-actions class="q-px-md">
          <q-btn
            unelevated
            color="light-green-7"
            size="lg"
            class="full-width"
            :label="isLoading ? 'Loading...' : 'Delete Order'"
            :disable="isLoading"
            @click="deleteOrder"
          />
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script setup>
import { useCartStore } from "src/stores/order-store";
import { ref } from "vue";

const order = useCartStore();

const isLoading = ref(false);
const productIds = ref("");
const editId = ref("");
const deleteId = ref("");

async function editOrder() {
  isLoading.value = true;
  if (!editId.value || !productIds.value) {
    alert("Please fill the form completely");
    isLoading.value = false;
    return false;
  }
  const productIdarray = productIds.value.split(",");
  const success = await order.editOrder(editId.value, [...productIdarray]);
  if (success) {
    alert("order edited successfully");
    isLoading.value = false;
  } else {
    alert("Could not edit order");
    isLoading.value = false;
  }
}

async function deleteOrder() {
  isLoading.value = true;
  if (!deleteId.value) {
    alert("Please fill the form completely");
    isLoading.value = false;
    return false;
  }
  const success = await order.deleteOrder(deleteId.value);
  if (success) {
    alert("order deleted successfully");
    isLoading.value = false;
  } else {
    alert("Could not delete order");
    isLoading.value = false;
  }
}

const currentPage = ref("Edit Orders");

function setEdit() {
  currentPage.value = "Edit Orders";
}
function setDelete() {
  currentPage.value = "Delete Orders";
}
</script>

<style lang="scss">
.cart {
  margin-right: 2em;
}
.nav {
  margin-left: 5em;
  margin-top: 2em;
}
.header {
  margin-left: 3em;
}
.login-card {
  margin-left: 5em;
  width: 40em;
  .link-to-register {
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
}
</style>
