<script setup>
import { useAuthStore } from "stores/auth-store";
import { ref } from "vue";
import { useRouter } from "vue-router";

const authStore = useAuthStore();
const router = useRouter();
const email = ref("");
const name = ref("");
const phoneNumber = ref("");
const password = ref("");
const isLoading = ref(false);

const redirectToLogin = () => {
  router.push("/");
};

async function signup() {
  isLoading.value = true;
  const success = await authStore.register(
    email.value,
    password.value,
    phoneNumber.value,
    name.value
  );
  if (success) {
    alert("Sign up Successful");
    router.push({ path: "/" });
  } else {
    alert("Signup failed. Please try again.");
  }
  isLoading.value = false;
}
</script>

<template>
  <q-page
    class="bg-primary window-height window-width row justify-center items-center"
  >
    <div class="column">
      <div class="row">
        <h5 class="text-h5 text-white q-my-md">Pantalons Signup</h5>
      </div>
      <div class="row">
        <q-card square bordered class="q-pa-lg shadow-1 login-card">
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input
                square
                filled
                clearable
                v-model="email"
                type="email"
                label="email"
              />
              <q-input
                square
                filled
                clearable
                v-model="name"
                type="text"
                label="name"
              />
              <q-input
                square
                filled
                clearable
                v-model="phoneNumber"
                type="text"
                label="phoneNumber"
              />
              <q-input
                square
                filled
                clearable
                v-model="password"
                type="password"
                label="password"
              />
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn
              unelevated
              color="light-green-7"
              size="lg"
              class="full-width"
              :label="isLoading ? 'Loading...' : 'Signup'"
              :disable="isLoading"
              @click="signup"
            />
          </q-card-actions>
          <q-card-section class="text-center q-pa-none">
            <p class="text-grey-6 link-to-register" @click="redirectToLogin">
              Already reigistered? Login
            </p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<style lang="scss">
.login-card {
  width: 40em;
  .link-to-register {
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
}
</style>
