<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <p @click="navhome" class="navhome">Pantalons</p>
        </q-toolbar-title>
        <div>
          <q-btn
            v-if="user.isAdmin === true"
            class="cart"
            @click="manageProducts"
            >Manage Products</q-btn
          >
          <q-btn v-if="user.isAdmin === true" class="cart" @click="manageOrders"
            >Manage Orders</q-btn
          >
          <q-btn
            v-if="user.isAdmin === false"
            icon="shopping_cart"
            color="primary"
            @click="showCart = !showCart"
            class="cart"
            ><q-badge
              v-if="cartItemCount > 0"
              color="red"
              floating
              :label="cartItemCount"
          /></q-btn>
          <q-btn icon="logout" color="primary" @click="logout"></q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-drawer v-model="showCart" bordered content-class="bg-white">
      <q-list dense>
        <q-toolbar-title class="cart-header"> Cart </q-toolbar-title>
        <q-item v-for="item in cartItems" :key="item.id" clickable>
          <q-item-section>
            <div class="row items-center">
              <div class="col">{{ item.name }}</div>
              <div class="col-auto">
                <q-btn
                  flat
                  color="primary"
                  icon="add"
                  @click="cart.incrementItem(item)"
                />
              </div>
              <div class="col">{{ item.quantity }}</div>
              <div class="col-auto">
                <q-btn
                  flat
                  color="primary"
                  icon="remove"
                  @click="cart.decrementItem(item)"
                />
              </div>
            </div>
          </q-item-section>
          <q-item-section side>
            {{ item.price * item.quantity }} €
          </q-item-section>
        </q-item>
        <q-btn
          unelevated
          color="light-green-7"
          size="lg"
          class="full-width"
          :label="loading ? 'Loading...' : 'Place Order'"
          :disable="loading || cart.itemCount == 0"
          @click="createOrder"
        />
        >
      </q-list>
    </q-drawer>
  </q-layout>
</template>

<script setup>
import { useCartStore } from "src/stores/order-store";
import { useAuthStore } from "src/stores/auth-store";
import { useRouter } from "vue-router";
import { ref, watch } from "vue";

const router = useRouter();
const showCart = ref(false);
const loading = ref(false);

const cart = useCartStore();
const user = useAuthStore();

const cartItemCount = ref(cart.itemCount);
const cartItems = cart.items;

function navhome() {
  router.push({ path: `${user.isAdmin ? "/admin" : "/user"}` });
}

async function logout() {
  const success = await user.logout();
  if (success) {
    alert("Successfully logged out");
    router.push({ path: "/" });
  } else {
    alert("Logout failed. Please try again.");
  }
}
function manageProducts() {
  router.push({ path: "/admin/manageProducts" });
}

function manageOrders() {
  router.push({ path: "/admin/manageOrders" });
}
async function createOrder() {
  loading.value = true;
  const customerName = user.user.name;
  const customerEmail = user.user.email;
  const customerPhoneNumber = user.user.phoneNumber;
  const cartItemsCopy = [...cartItems];
  const productIds = cartItemsCopy.map((item) => item.id);
  const success = await cart.createOrder(
    customerName,
    customerEmail,
    customerPhoneNumber,
    [...productIds]
  );
  if (success) {
    alert("order created successfully");
    loading.value = false;
  } else {
    alert("Could not place order");
    loading.value = false;
  }
}

watch(
  () => cart.itemCount,
  (count) => {
    cartItemCount.value = count;
  }
);
</script>

<style lang="scss" scoped>
.navhome {
  margin-top: 1em;
  cursor: pointer;
}
.cart-header {
  color: blue;
  text-align: center;
  margin-top: 10px;
}
.cart {
  margin-right: 2em;
}
</style>
